---
import CardLayout from '../layouts/CardLayout.astro';
import Card from '../components/Card.astro';
---

<CardLayout
  title="Delio Díaz - Ingeniero de software"
  description="Ingeniero de software, estudiante de ingeniería de software, desarrollador web, desarrollador de aplicaciones móviles "
>
  <main>
    <section>
      <Card />
    </section>
  </main>
</CardLayout>
