---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import AddresBook from '../components/icons/AddresBook.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  title="Delio Yunior Díaz | Ingeniero de software"
  description="Ingeniero de software y Educador tecnológico, Desarrollador Fullstack con enfoque en Backend, especializado en desarrollo web. Enseño programación y preparo a estudiantes para certificaciones como IT Specialist (Certiport)"
  keywords="Delio Yunior Díaz, Delio Diaz, Delio Yunior Diaz Henriquez, ingeniero de software, desarrollador web, aplicaciones móviles, educación tecnológica, IT Specialist, Microsoft Office Specialist"
  image="https://deliodiaz.dev/foto-portada.jpg"
>
  <main class="px-4 max-w-[700px] mx-auto">
    <SectionContainer id="inicio" class="py-12 pb-24">
      <div class="flex flex-col items-center">
        <img
          class="rounded-full size-72 mb-6 object-cover"
          src="foto-portada.jpg"
          alt="delio diaz"
        />
      </div>

      <h1
        class="text-white text-2xl md:text-4-xl lg:text-5xl font-bold pb-6 lg:pb-10 text-center"
      >
        Hola, soy Delio Díaz
      </h1>
      <h2
        class="text-xl lg:text-2xl opacity-80 text-pretty text-left"
        lang="es"
      >
        +4 años de experiencia. <span class="text-sky-400/90 opacity-90"
          >Ingeniero de Software y Educador tecnológico</span
        >. 👨‍💻 De República Dominicana. 🇩🇴 <br />
        <br /> Desarrollador fullstack con enfoque en Backend, especializado en desarrollo
        web. Apasionado por la tecnología, enseño programación y preparo a estudiantes
        para certificaciones internacionales como IT Specialist (Certiport) y Microsoft
        Office Specialist.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/delio-diaz/">
          <LinkedInIcon class="size-4 md:size-6" /> LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/yunior0716">
          <GitHubIcon class="size-4 md:size-6" /> GitHub
        </SocialPill>

        <SocialPill href="mailto:delioydiaz@gmail.com">
          <MailIcon class="size-4 md:size-6" /> delioydiaz@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="pb-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="pb-6 md:pb-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Proyectos Destacados
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-centerghy ]">
        <AddresBook class="size-8" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
