---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import AddresBook from '../components/icons/AddresBook.astro';
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  title="Delio Yunior Díaz | Ingeniero de software"
  description="Ingeniero de software y Educador tecnológico, Desarrollador Fullstack con enfoque en Backend, especializado en desarrollo web. Enseño programación y preparo a estudiantes para certificaciones como IT Specialist (Certiport)"
  keywords="Delio Yunior Díaz, Delio Diaz, Delio Yunior Diaz Henriquez, ingeniero de software, desarrollador web, aplicaciones móviles, educación tecnológica, IT Specialist, Microsoft Office Specialist"
  image="https://deliodiaz.dev/foto-portada.webp"
>
  <main class="px-4 mx-auto w-full lg:max-w-[740px]">
    <SectionContainer id="inicio" class="py-12 pb-24">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia" class="pb-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="pb-6 md:pb-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Proyectos Destacados
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-12 flex gap-x-3 items-center">
        <AddresBook class="size-8" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
