---
import ArrowLeft from './icons/ArrowLeft.astro';
---

<div class="max-w-sm p-6 rounded-lg shadow bg-gray-800 border-gray-700">
  <a href="/">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Gracias!</h5>
  </a>
  <p class="mb-3 font-normal text-gray-300">Su mensaje ha sido recibido.</p>
  <a
    href="/"
    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
  >
    <ArrowLeft />
    Volver a la página principal
  </a>
</div>
