---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Feb. 2021 - Sept. 2023',
    title: 'Auxiliar de Operaciones - PG Contratistas',
    description:
      'Generaci칩n de reportes fotogr치ficos detallados, Gesti칩n eficaz del software GPS de la empresa, Gesti칩n de plataformas web para distintos proyectos',
    link: '',
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
