<footer
  class="rounded-lg m-4 shadow-sm bg-white dark:bg-[#0A0A0A]/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto text-xs md:text-base mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-secondary-text"
      >2024 - <a href="#inicio" class="hover:underline">Delio Díaz</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li>
        <a href="#inicio" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <!-- <li>
        <a href="#experiencia" class="hover:underline me-4">Experiencia</a>
      </li> -->
      <li>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
      </li>
      <!-- <li>
        <a href="#contacto" class="hover:underline">Contacto</a>
      </li> -->
    </ul>
  </div>
</footer>
