<footer
  class="m-4 bg-white dark:bg-[#0A0A0A]/20 min-[375px]:pl-4 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-primary-text"
      >2025 - <a href="#inicio" class="hover:underline">Delio Díaz</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li>
        <a href="#inicio" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <!-- <li>
        <a href="#experiencia" class="hover:underline me-4">Experiencia</a>
      </li> -->
      <li>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
      </li>
      <!-- <li>
        <a href="#contacto" class="hover:underline">Contacto</a>
      </li> -->
    </ul>
  </div>
</footer>
