<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full max-w-[700px]
    z-10
  `}
>
  <nav
    class={`
      border border-[#202030] rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-[#202030]/90
      backdrop-blur-2xl
    `}
  >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#inicio"
      >Inicio</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="#experiencia">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#proyectos"
      >Proyectos</a
    >

    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#contacto"
      >Contacto</a
    >
  </nav>
</header>
