---
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/my-favicon/favicon-96x96.png"
      sizes="96x96"
    />

    <link
      rel="icon"
      type="image/png"
      href="/my-favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
    <link rel="shortcut icon" href="/my-favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/my-favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Delio Díaz" />
    <link rel="manifest" href="/my-favicon/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>Delio Yunior Díaz | Ingeniero de software</title>
  </head>
  <body class="relative">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }
</style>
